<h1>Sign-up New User View</h1>
<!-- url: merchants_path  maps to merchants#create method  -->
<%= form_for :user, url: users_path do |f| %>
	<p>
		<%= f.label :firstname %><br>
    <%= f.text_field :first_name %><br>
    <%= f.label :lastname %><br>
    <%= f.text_field :last_name %><br>
    <%= f.label :Date_Of_Birth %><br>
    <%= f.text_field :DOB %><br>
    <%= f.label :National_ID %><br>
    <%= f.number_field :national_id %><br>
    <%= f.label :Telephone_number %><br>
    <%= f.text_field :tel_number %><br>
    <%= f.label :Password %><br>
    <%= f.password_field :password %><br>
    <%= f.label :Confirm_Password %><br>
    <%= f.password_field :conf_pwd %><br>
	</p>
	<p>
		<%= f.submit %>
        
	</p>
	<% end %>
    