<h1>All Merchants</h1>


<table>
	<thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @merchant.each do |merchant| %>
      <tr>
        <td><%= merchant.first_name %></td>
        <td><%= merchant.last_name %></td>
        <td><%= link_to 'Create New Product', new_merchant_product_path(merchant) %></td>
        <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
        <td><%= link_to 'Destroy', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>